<h2>Ajouter le fichier excel pour afficher les groupes</h2>
<input type="file" (change)="onCreateGroup($event)">
<button type="reset" (click)="emptyCache()">Vider le cache</button>
<br>
<h2>Tous les groupes</h2>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Nom du groupe</th>
    <th>Origine</th>
    <th>Ville</th>
    <th>Année de début</th>
    <th>Année de séparation</th>
    <th>Fondateurs</th>
    <th>Membres</th>
    <th>Courant musical</th>
    <th>Presentation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let group of groups">
    <td>{{group.id}}</td>
    <td>{{group.nomDuGroupe}}</td>
    <td>{{group.origine}}</td>
    <td>{{group.ville}}</td>
    <td>{{group.anneeDebut}}</td>
    <td>{{group.anneeSeparation}}</td>
    <td>{{group.fondateurs}}</td>
    <td>{{group.membres}}</td>
    <td>{{group.courantMusical}}</td>
    <td>{{group.presentation}}</td>
  </tr>
  </tbody>
</table>
<br>
<h2>Rechercher un groupe à l'aide de l'id</h2>
<form (ngSubmit)="group.id ? onGetGroup(group.id) : null">
  <div>
    <label for="idSearch">Id : </label>
    <input type="text" id="idSearch" [(ngModel)]="group.id" name="idSearch" pattern="[0-9]+">
  </div>
  <button type="submit">Rechercher</button>
</form>
<div *ngIf="group.id && submit && group.nomDuGroupe">
  <h2>Groupe recherché</h2>
  <p>Nom du groupe : {{group.nomDuGroupe}}</p>
  <p>Origine : {{group.origine}}</p>
  <p>Ville : {{group.ville}}</p>
  <p>Année de début : {{group.anneeDebut}}</p>
  <p>Année de séparation : {{group.anneeSeparation}}</p>
  <p>Fondateurs : {{group.fondateurs}}</p>
  <p>Membres : {{group.membres}}</p>
  <p>Courant musical : {{group.courantMusical}}</p>
  <p>Présentation : {{group.presentation}}</p>
</div>
<div *ngIf="group.id && submit && !group.nomDuGroupe">
  <p>Le groupe avec l'id {{group.id}} n'a pas été trouvé.</p>
</div>
<h2>Modifier un groupe</h2>
<form (ngSubmit)="newGroup.id ? onUpdateGroup(newGroup.id) : null">
  <div>
    <label for="idUpdate">Id :</label>
    <input type="text" id="idUpdate" [(ngModel)]="newGroup.id" name="idUpdate" pattern="[0-9]+">
  </div>
  <div>
    <label for="nomDuGroupe">Nom du groupe :</label>
    <input type="text" id="nomDuGroupe" [(ngModel)]="newGroup.nomDuGroupe" name="nomDuGroupe">
  </div>
  <div>
    <label for="origine">Origine :</label>
    <input type="text" id="origine" [(ngModel)]="newGroup.origine" name="origine">
  </div>
  <div>
    <label for="ville">Ville :</label>
    <input type="text" id="ville" [(ngModel)]="newGroup.ville" name="ville">
  </div>
  <div>
    <label for="anneeDebut">Année de début :</label>
    <input type="text" id="anneeDebut" [(ngModel)]="newGroup.anneeDebut" name="anneeDebut" pattern="[0-9]+">
  </div>
  <div>
    <label for="anneeSeparation">Année de séparation :</label>
    <input type="text" id="anneeSeparation" [(ngModel)]="newGroup.anneeSeparation" name="anneeSeparation" pattern="[0-9]+">
  </div>
  <div>
    <label for="fondateurs">Fondateurs:</label>
    <input type="text" id="fondateurs" [(ngModel)]="newGroup.fondateurs" name="fondateurs">
  </div>
  <div>
    <label for="membres">Membres :</label>
    <input type="text" id="membres" [(ngModel)]="newGroup.membres" name="membres">
  </div>
  <div>
    <label for="courantMusical">Courant musical :</label>
    <input type="text" id="courantMusical" [(ngModel)]="newGroup.courantMusical" name="courantMusical">
  </div>
  <div>
    <label for="presentation">Presentation : </label>
    <textarea id="presentation" [(ngModel)]="newGroup.presentation" name="presentation"></textarea>  </div>
  <button type="submit">Modifier</button>
</form>
<h2>Supprimer un groupe</h2>
<form (ngSubmit)="group.id ? onDeleteGroup(group.id) : null">
  <div>
    <label for="idDelete">Id : </label>
    <input type="text" id="idDelete" [(ngModel)]="group.id" name="idDelete" pattern="[0-9]+">
  </div>
  <button type="submit">Supprimer</button>
</form>
<div *ngIf="group.id && !deleteSuccess && submit">
  <p>Groupe Supprimé</p>
</div>
<div *ngIf="deleteSuccess">
  <p>Aucun groupe trouvé pour l'id {{group.id}}</p>
</div>
